@model BlogModel.Post

@{
    ViewData["Title"] = "Delete";
}



<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal SPost">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PermaLink)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PermaLink)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd>
            @Html.Raw( Model.Content)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PubDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PubDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a class="indexList" asp-action="Index">Back to List</a>
    </form>
</div>
