@model IEnumerable<BlogModel.Post>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="row">
    <div class="col-md-8  SPost">
    @{ var count = 0; }
    @foreach (var item in Model)
    {

            <article>
                <h5>  @Html.DisplayFor(model => item.PubDate)</h5>
                @{string title = item.Title;
                }
                <h3> @Html.ActionLink(item.Title, "Edit", new { id = item.Id })</h3><br />
                <p>
                    @Html.DisplayFor(modelItem => item.Content)
                </p>

            </article>
           break;
      }
   
    </div>
    <div class="col-md-3 aside  SPost">
        @{ var recentCount = 0; }
        @foreach (var item in Model)
        {

            <article>
                <h5>  @Html.DisplayFor(model => item.PubDate)</h5>
                @{string title = item.Title;
                }
                <h4> @Html.ActionLink(item.Title, "Edit", new { id = item.Id })</h4><br />

            </article>
                     
                    }

    </div>
    </div>