@model IEnumerable<BlogModel.Post>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-8  SPost">
    @{ var count = 0; }
    @foreach (var item in Model)
    {

            <article>
                <h4>  @Html.DisplayFor(model => item.PubDate)</h4>
                @{string title = item.Title;
                }
                <h3> @Html.ActionLink(item.Title, "Index", new { id = item.Id })</h3><br />
                <p>
                    @Html.Raw(item.Content);
                </p>

            </article>
           break;
      }
   
    </div>
    <div class="col-md-3 aside  SPost">

        <h2>Recent Posts</h2>
        @{ var recentCount = 0; }
        @foreach (var item in Model)
        {

            <article>
                <h5>  @Html.DisplayFor(model => item.PubDate)</h5>
                @{string title = item.Title;
                }
                <h4> @Html.ActionLink(item.Title, "Details", new { id = item.Id })</h4><br />

            </article>
                     
                    }

    </div>
    </div>